/* inline css  > id selector > class selector > element selector ---Priority of selectors */
/* .title {
  color: red;
}

.subtitle {
  color: aqua;
}

#contact-us {
  color: darkblue;
}

Today's timestamp: 1:37:04

h3:hover {
  color: blueviolet;
}

.shubham {
  color: blue;
}

#jj {
  color: red;
}
/* childrens */
/* */
/* li:first-child {
  color: brown;
}

li:last-child {
  color: blanchedalmond;
}

li:nth-child(2) {
  color: chartreuse;
}

li:only-child {
  color: aqua;
}

#google-link:link {
  color: red;
}
#google-link:visited {
  color: blue;
}
h3 + a {
  color: red;
}

textarea ~ button {
  background-color: blue;
  color: purple;
}

ul > li {
  color: blue;
}

ul li {
  color: greenyellow;
} */
/* This attribute we can use to style same for all images */
/* img[src^="./imges"] {
  border: 10px solid red;
} */
/* This is css block */
/* selector{
  property:value;
} */
body {
  /* a stands for opacity  rgba is */
  /* background-color: rgba(122, 12, 20, 0.4);
   */

  background: linear-gradient(to bottom, red, blue, green, steelblue);
}

#title {
  color: rgb(232, 176, 21);
}
.subtitle {
  color: rgb(207, 12, 200);
}
